<div class= "block" id="agenda">
  <div class="card mb-3">
    <div class="card-header agenda-header">
      <div class="row no-gutters">
        <div class="col-md-3">Wann/When</div>  
        <div class="col-md-5">Was/What</div>  
        <div class="col-md-4">Wo/Where</div>  
      </div>  
    </div>
    <div class="card-body">
      <div class="row no-gutters">
        {{#events}}
          <div class="col-md-3">{{#time_short}}{{.}}{{/time_short}}{{^time_short}}---{{/time_short}}</div>
          <div class="col-md-5">{{title_de}}</div>
          <div class="col-md-4">{{#location}}{{.}}{{/location}}{{^location}}---{{/location}}</div>
        {{/events}}
      </div>
    </div>
  </div>
</div>
