{{#events.german}}
<tr>
  <td valign="top">
    <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
      <tbody>
        <tr>
          <td height="50" width="100%" valign="middle" bgcolor="#e8462b" style="vertical-align:middle;">
            <h3 style="margin:0; margin-left: 13px; padding:0; font-size: 18px; font-weight: normal; color:#ffffff;">
              {{title}} <small>[{{catchphrase}}]</small><br>
                            
              <small>{{#time_start}}{{&.}}{{/time_start}} // {{#location}}{{&.}}{{/location}} // {{#price}}{{.}}{{/price}} // {{#signup}}{{&.}}{{/signup}}</small>
            </h3>
          </td>
        </tr>
        <tr>
          <td valign="top" bgcolor="#1f2d54">
            <table cellspacing="0" cellpadding="3" border="0" align="left" width="100%" style="border-left-width: 5px; border-left-color: #1f2d54; border-left-style: solid; border-right-width: 5px; border-right-color: #1f2d54; border-right-style: solid; border-bottom-width: 5px; border-bottom-color: #1f2d54; border-bottom-style: solid; border-top-width: 5px; border-top-color: #1f2d54; border-top-style: solid">
              <tr>
                <td valign="top" width="150">
                  {{#img_thumbnail}}<img src="https://api.amiv.ethz.ch{{file}}" class="card-img event" alt="imgtitle" align="left" width="150px" height="150px" style="border-width: 3px; border-style: solid; border-color: #ffffff;">{{/img_thumbnail}}
                  {{^img_thumbnail}}<img src="{{#image_base64}}{{&image_base64}}{{/image_base64}}{{^image_base64}}{{&alt}}{{/image_base64}}" width="150px" height="150px" class="card-img featured" alt="imgtitle" align="left" style="border-width: 3px; border-style: solid; border-color: #ffffff;">{{/img_thumbnail}}
                </td>
                <td style="font-size: 13px; font-weight: normal; color: #ffffff; border-left-width: 5px; border-left-color: #1f2d54; border-left-style: solid; border-right-width: 5px; border-right-color: #1f2d54; border-right-style: solid; border-bottom-width: 5px; border-bottom-color: #1f2d54; border-bottom-style: solid;">
                  <!--<p style="font-size: 12px; line-height: 20px; font-weight: normal; color: #56667d; margin: 0; margin-bottom: 10px;">-->
                  <p class="p1">{{description}}</p>
                  <p class="p1">&nbsp;</p>
                  <!--</p>-->
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
{{/events.german}}

<tr height="30px" bgcolor="ffffff"><td width="629px"></td></tr>

<tr>
  <td valign="top">
    <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
      <tbody>
        <tr>
          <td height="30" width="100%" valign="middle" bgcolor="#e8462b" background="" style="vertical-align:middle">
            <p style="font-size: 13px; line-height: 20px; font-weight: normal; color: #ffffff; margin: 0; margin-bottom: 0px;margin-left:13px;">
              <b>English</b>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>

<tr height="10px" bgcolor="ffffff"><td width="629px"></td></tr>

{{#events.english}}
<tr>
  <td valign="top">
    <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
      <tbody>
        <tr>
          <td height="50" width="100%" valign="middle" bgcolor="#e8462b" style="vertical-align:middle;">
            <h3 style="margin:0; margin-left: 13px; padding:0; font-size: 18px; font-weight: normal; color:#ffffff;">
              {{title}} <small>[{{catchphrase}}]</small><br>

              <small>{{#time_start}}{{&.}}{{/time_start}} // {{#location}}{{&.}}{{/location}} // {{#price}}{{.}}{{/price}} // {{#signup}}{{&.}}{{/signup}}</small>
            </h3>
          </td>
        </tr>
        <tr>
          <td valign="top" bgcolor="#1f2d54">
            <table cellspacing="0" cellpadding="3" border="0" align="left" width="100%" style="border-left-width: 5px; border-left-color: #1f2d54; border-left-style: solid; border-right-width: 5px; border-right-color: #1f2d54; border-right-style: solid; border-bottom-width: 5px; border-bottom-color: #1f2d54; border-bottom-style: solid; border-top-width: 5px; border-top-color: #1f2d54; border-top-style: solid">
              <tr>
                <td valign="top" width="150">  
                  {{#img_thumbnail}}<img src="https://api.amiv.ethz.ch{{file}}" class="card-img event" alt="imgtitle" align="left" width="150px" height="150px" style="border-width: 3px; border-style: solid; border-color: #ffffff;">{{/img_thumbnail}}
                  {{^img_thumbnail}}<img src="{{#image_base64}}{{&image_base64}}{{/image_base64}}{{^image_base64}}{{&alt}}{{/image_base64}}" width="150px" height="150px" class="card-img featured" alt="imgtitle" align="left" style="border-width: 3px; border-style: solid; border-color: #ffffff;">{{/img_thumbnail}}
                </td>
                <td style="font-size: 13px; font-weight: normal; color: #ffffff; border-left-width: 5px; border-left-color: #1f2d54; border-left-style: solid; border-right-width: 5px; border-right-color: #1f2d54; border-right-style: solid; border-bottom-width: 5px; border-bottom-color: #1f2d54; border-bottom-style: solid;">
                  <!--<p style="font-size: 12px; line-height: 20px; font-weight: normal; color: #56667d; margin: 0; margin-bottom: 10px;">-->
                  <p class="p1">{{description}}</p>
                  <p class="p1">&nbsp;</p>
                  <!--</p>-->
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
{{/events.english}}