<tr>
  <td valign="top">
    <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
      <tbody>
        <tr>
          <td height="30" width="100%" valign="middle" bgcolor="#e8462b" background="" style="vertical-align:middle">
            <p style="font-size: 13px; line-height: 20px; font-weight: normal; color: #ffffff; margin: 0; margin-bottom: 0px;margin-left:13px;">
              <b>FEATURING</b>
            </p>
          </td>
        </tr>
        <tr>
          <td valign="top" bgcolor="#1f2d54">
            <table cellspacing="0" cellpadding="3" border="0" align="center" width="100%" style="border-left-width: 5px; border-left-color: #1f2d54; border-left-style: solid; border-right-width: 5px; border-right-color: #1f2d54; border-right-style: solid; border-bottom-width: 5px; border-bottom-color: #1f2d54; border-bottom-style: solid; border-top-width: 5px; border-top-color: #1f2d54; border-top-style: solid">
              <tr>
                {{#featuring.events}}
                  <td valign="middle" width="50%">
                    {{#img_thumbnail}}<img src="https://api.amiv.ethz.ch{{file}}" width="100px" height="100px" class="card-img event" alt="missing image" title="imgtitle" align="left" style="border-width: 3px; border-style: solid; border-color: #ffffff;margin-right:5px;">{{/img_thumbnail}}
                    {{^img_thumbnail}}<img src="{{#image_base64}}{{&image_base64}}{{/image_base64}}{{^image_base64}}{{&alt}}{{/image_base64}}" width="150px" height="150px" class="card-img featured" alt="missing image" title="imgtitle" align="left" style="border-width: 3px; border-style: solid; border-color: #ffffff;margin-right:5px;">{{/img_thumbnail}}
                    <p style="font-size: 13px;  font-weight: normal; color: #ffffff; margin: 0; margin-bottom: 0px;margin-left:5px;margin-right:5px;">
                      <b>{{title_de}}</b><br>
                      {{time_start_de}}<br>{{location}}<br>																																																			</p>
                  </td>
                {{/featuring.events}}
              </tr>
            </table>
          </td>
        </tr>
        <tr height="10"><td width="100%" bgcolor="#ffffff"></td></tr>
        <tr>
          <td valign="top" bgcolor="#1f2d54">
            <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
              <tbody>
                <tr>
                  <td height="30" valign="middle" bgcolor="#e8462b" style="vertical-align:middle">
                    <p style="font-size: 13px; line-height: 20px; font-weight: normal; color: #ffffff; margin: 0; margin-bottom: 0px;margin-left:13px;">
                      <b>Agenda</b> 
                    </p>
                  </td>
                  <td height="30" width="35%" valign="middle" bgcolor="#e8462b" style="vertical-align:middle">
                    <p style="font-size: 13px; line-height: 20px; font-weight: normal; color: #ffffff; margin: 0; margin-bottom: 0px;margin-left:13px;">
                      <b>Information</b> 
                    </p>
                  </td>
                </tr>
                <tr height="5px"><td width="35%"></td><td></td></tr>
                {{#agenda.events}}
                <tr>
                  <td width="45%" style="border-bottom-width: 5px; border-bottom-color: #1f2d54; border-bottom-style: solid; border-top-width: 5px; border-top-color: #1f2d54; border-top-style: solid">
                    <p style="font-size: 12px;  font-weight: normal; color: #ffffff; margin: 0;margin-left:13px;">
                      {{time_short}}  ::  {{title_de}}
                    </p>
                  </td>
                  <td style="border-bottom-width: 5px; border-bottom-color: #1f2d54; border-bottom-style: solid; border-top-width: 5px; border-top-color: #1f2d54; border-top-style: solid">
                    <p style="font-size: 12px; font-weight: normal; color: #ffffff; margin: 0;margin-left:13px;">
                    Wo: <a href="{{signup}}">{{location}}</a>
                    </p>
                  </td>
                </tr>
                {{/agenda.events}}
                <tr height="5px"><td width="35%"></td><td></td></tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr height="30px" bgcolor="ffffff"><td width="629px"></td></tr>