<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="expires" content="0">

			
		<title>Amiv Announce</title>
		<!--general stylesheet-->
		<style type="text/css">
			p { font-size:12px; margin:0; margin-bottom: 10px; padding: 0;}
			a { color: #FFF;}
			h1, h2, h3, p, li { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
			td { vertical-align:top;}
			ul, ol { margin: 0; padding: 0;}
			.title_text {
				text-align: center;
				font-size: 42px;
				color: #ffffff;
			}
			.date {
				margin:0;
				padding:0;
				color: #fff;
				font-weight: bold;
			}
			.textshadow {
				text-shadow: #ffffff 0px 1px 0px;
			}
			.trxtshadow-2 {
				text-shadow: #768296 0px -1px 0px;
			}
			li {
				font-size: 12px;  font-weight: normal; color: #56667d; margin: 0;list-style:none;
			}
		</style>
	</head>
	<body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" background="" style="margin: 0px; background-color: #ffffff" bgcolor="">
		<table cellspacing="0" border="0" cellpadding="0" width="100%">
			<tbody>
				<tr valign="top">
					<td valign="top"><!--container-->
						<table cellspacing="0" cellpadding="0" border="0" align="center" width="629px">
							<tbody>
								<tr height="30px" bgcolor="ffffff"><td width="629px"></td></tr>
								<tr>
									<td valign="middle" height="109px" background="" style="vertical-align: middle;">
										<table cellspacing="0" cellpadding="0" border="0" align="center" width="629px" height="109px">
											<tbody>
												<tr height="109px" bgcolor="1f2d54">
													<td width="69px"></td>
													<td valign="middle" width="380px" height="109px" style="vertical-align:middle; position:relative;">
														<img style="position:absolute; top:8px; left:0px; z-index:2;" src="{{logo}}">
														<!--p class="title_text" style="position:relative; z-index:1; top:6px;"><font color="#e8462b">AMIV</font> Announce</p-->
													</td>
													<td width="60px"> </td>
													<td width="110px" valign="middle" style="vertical-align:middle; text-align: center;">
														<h2 class="date" style="font-size:13px; text-transform: uppercase;">
															{{month}}														</h2>
														<h2 class="date" style="font-size:23px; ">
															{{day}}														</h2>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr height="30px" bgcolor="ffffff"><td width="629px"></td></tr>
								<tr>
									<td valign="top">
										<table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
											<tbody>
												<tr>
													<td width="100%" valign="top"><!--content-->
														<table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
															<tbody>
																{{&content}}
															</tbody>
														</table>
													</td>
												</tr>
												<tr height="30px" bgcolor="ffffff"><td width="629px"></td></tr>
												<tr>
													<td colspan="2" valign="middle" height="50" bgcolor="#1f2d54" style="vertical-align:middle; text-align: center; border-bottom-width: 5px; border-bottom-color: #1f2d54; border-bottom-style: solid; border-top-width: 5px; border-top-color: #1f2d54; border-top-style: solid">
														<p style="margin:0; font-size: 10px; font-weight: bold; color: #ffffff; line-height: 18px;">
															Die AMIV Announce wird angeboten vom AMIV, der Akademische Maschinen- und Elektroingenieur Verein der ETH Zürich.
														</p>
														<p style="margin:0; font-size: 10px; font-weight: bold; color: #ffffff; line-height: 18px;"><a href="https://www.amiv.ethz.ch" style="font-size: 10px; line-height: 20px; font-weight: normal; color: #ffffff;">www.amiv.ethz.ch</a></p>
														<p style="font-size: 10px; line-height: 18px; font-weight: normal; color: #ffffff; margin: 0; margin-bottom: 0px;margin-left:13px;">
															Die AMIV Announce kann <a href="https://amiv.ethz.ch/en/profile" style="font-size: 10px; line-height: 20px; font-weight: normal; color: #ffffff;">abbestellt</a> werden.
														</p>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
