/*!
 * Based on Bootstrap v4.4.1 (https://getbootstrap.com/)
 * Adapted by Luzian Bieri
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

:root {
  --amiv-blue: #1f2d54;
  --amiv-red: #e8462b;
  --breakpoint-md: 768px;
  --font-family-sans-serif: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-monospace: 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
  --card-border-radius: .5rem;
  --card-border-width: 2px;
  --event-img-background: #fff;
  --event-img-padding: .25rem;
  --event-img-border-radius: .25rem;
}

*,*:before,*:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

nav {
  display: block;
}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  background-color: #fff;
}

h1,h2,h3,h5,h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

h4 {
  margin-top: 0;
  margin-bottom: .1rem;
  font-weight: 500;
  line-height: 1.2;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol {
  margin-top: 0;
  margin-bottom: 1rem;
}

small {
  font-size: 80%;
}

a {
  color: var(--amiv-red);
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: var(--amiv-red);
  text-decoration: underline;
}

img {
  vertical-align: middle;
  border-style: none;
}

img.event {
  background-color: var(--event-img-background);
  margin: .25rem .25rem .05rem .15rem;
}

img.featured {
  background-color: var(--event-img-background);
  padding: var(--event-img-padding);
}

img.logo {
  padding-left: 1rem;
}

.logo-date {
  margin: .5rem;
  text-align: center;
}

.logo-container-date {
  padding-top: .5rem;
  justify-content: right;
}

.block {
  margin: 2rem 0;
  border-radius: var(--card-border-radius);
}

.footer-text:last-child {
  margin-bottom: 0;
}

.centered {
  text-align: center;
}

.center {
  margin: auto;
}

.signup {
  color: #fff;
  text-decoration: underline;
}

.signup:hover {
  color: var(--amiv-blue);
}

h1,h2,h5,h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

h1.title {
  color: var(--amiv-blue);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.col-md-3,.col-md-4,.col-md-8 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-md-1 {
    flex: 0 0 8.33%;
    max-width: 8.33%;
  }

  .col-md-2 {
    flex: 0 0 16.67%;
    max-width: 16.67%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }

  .col-md-5 {
    flex: 0 0 41.67%;
    max-width: 41.67%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.33%;
    max-width: 58.33%;
  }

  .col-md-8 {
    flex: 0 0 66.67%;
    max-width: 66.67%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.33%;
    max-width: 83.33%;
  }

  .col-md-11 {
    flex: 0 0 91.67%;
    max-width: 91.67%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--amiv-blue);
  background-clip: border-box;
  border: var(--card-border-width) solid var(--amiv-blue);
}

.card:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.card:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.card-container {
  border-radius: var(--card-border-radius);
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-text {
  margin: 0 1rem;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-header {
  padding: .5rem 1.25rem;
  margin-bottom: 0;
  background-color: var(--amiv-red);
}

.card-header:first-child {
  padding: .5rem 1.25rem .25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-header:last-child:not(:first-child) {
  margin-bottom: .25rem;
}

.card:first-child .card-header {
  border-radius: 0;
  border-top-left-radius: calc(var(--card-border-radius) - var(--card-border-width));
  border-top-right-radius: calc(var(--card-border-radius) - var(--card-border-width));
}

.agenda-header {
  padding: .5rem 1.25rem .75rem !important;
}

.card-img {
  flex-shrink: 0;
  width: 100%;
  border-radius: calc(var(--event-img-border-radius) - 1px);
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1.25rem .5rem;
  margin-bottom: 0;
  list-style: none;
  background-color: var(--amiv-red);
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: .5rem;
}

.breadcrumb-item + .breadcrumb-item:before {
  display: inline-block;
  padding-right: .5rem;
  color: #fff;
  content: '//';
}

.breadcrumb-item + .breadcrumb-item:hover:before {
  text-decoration: none;
}
