
#################################################################################
Wann/When, Was/What, Wo/Where 
{{#events}}
{{#time_short}}{{.}}{{/time_short}}{{^time_short}}---{{/time_short}}, {{title_de}}, {{#location}}{{.}}{{/location}}{{^location}}---{{/location}}
{{/events}}

