
#################################################################################

{{language}}

------------------------------------------------------------------------
{{#events}}
{{title}} [{{catchphrase}}]
{{#time_start}}{{.}}{{/time_start}}            
{{#location}}{{.}}{{/location}}
{{#price}}{{.}}{{/price}}
{{description}}
------------------------------------------------------------------------

{{/events}}