<div class= "block" id="section">
  <h1 class="title"> {{language}} </h1>

  <div class="card-container">
    {{#events}}
      <div class="card mb-3">
        <div class="card-header">
          <h4>{{title}}  <small class="text-muted">[{{catchphrase}}]</small></h4>
        </div>
        <nav aria-label="card-header breadcrumb">
          <ol class="breadcrumb">
            {{#time_start}}<li class="breadcrumb-item">{{.}}</li>{{/time_start}}            
            {{#location}}<li class="breadcrumb-item">{{.}}</li>{{/location}}
            {{#price}}<li class="breadcrumb-item">{{.}}</li>{{/price}}
            {{#signup}}<li class="breadcrumb-item">{{&.}}</li>{{/signup}}
          </ol>
        </nav>
        <div class="row no-gutters">
          <div class="col-md-4">
            {{#img_thumbnail}}<img src="https://api.amiv.ethz.ch{{file}}" class="card-img event" alt="image should be here">{{/img_thumbnail}}
            {{^img_thumbnail}}<img src="{{#image_base64}}{{&image_base64}}{{/image_base64}}{{^image_base64}}{{&alt}}{{/image_base64}}" class="card-img featured" alt="missing image">{{/img_thumbnail}}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text">{{description}}</p>
            </div>
          </div>
        </div>
      </div>
    {{/events}}
  </div>
</div>