<div class= "block" id="section">
  <div class="card mb-12">
    <div class="card-header">
      <h4>FEATURING</h4>
    </div>
    <div class="card-body">
      <div class="row no-gutters">
        {{#events}}
          <div class="col-md-3">
            {{#img_thumbnail}}<img src="https://api.amiv.ethz.ch{{file}}" class="card-img event" alt="missing image">{{/img_thumbnail}}
            {{^img_thumbnail}}<img src="{{#image_base64}}{{&image_base64}}{{/image_base64}}{{^image_base64}}{{&alt}}{{/image_base64}}" class="card-img featured" alt="missing image">{{/img_thumbnail}}
          </div>
          <div class="col-md-3 center">
              <h6 class="card-text">{{title_de}}</h6>
              <p class="card-text">{{time_start_de}} {{location}}</p>
          </div>
        {{/events}}
      </div>
    </div>
  </div>
</div>