<div class= "block" id="footer">
  <!-- <h1 class="title"> Agenda </h1> --->

  <div class="card mb-3">
    <div class="card-body">
      <h6 class="footer-text mx-auto centered">Die AMIV Announce wird angeboten vom AMIV, dem Akademischen Maschinen- und Elektroingenieur Verein der ETH Zürich. </h6>
      <p class="footer-text mx-auto centered"><a href="www.amiv.ethz.ch">www.amiv.ethz.ch</a></p>
      <p class="footer-text mx-auto centered">Die AMIV Announce kann <a href="https://amiv.ethz.ch/en/profile">abbestellt</a> werden.</p>
    </div>
  </div>
</div>