<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="expires" content="0" />

	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>Amiv Announce</title>

	<!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
	override some bootsrap colors here /> -->
	<!--link rel="stylesheet" href="{{css_location}}"-->

	<style type="text/css">{{&css}}</style>
</head>

<body>
	<div class="announce" style="max-width: 800px; min-width: 600px">
		{{&announce}}
	</div>
</body>