<div class= "block" id="header">
  <!-- <h1 class="title"> Agenda </h1> --->

  <div class="card mb-3">
    <div class="card-body">

      <div class="row no-gutters">
        <div class="col-md-6">
          <img src="{{&logo}}" class="card-img logo" alt="image should be here">
        </div>
        <div class="col-md-3 logo-container-date">
        </div>
        <div class="col-md-3 logo-container-date">
            <h5 class="card-text logo-date">{{month}}</h5>
            <h1 class="card-text logo-date">{{day}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
